@model MVCex.ViewModels.Guestbook

@{
    ViewBag.Title = "Index";
}
<div id="CreateDate">
    @Html.Action("Create")
</div>

@Html.Action("GetDataList")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
